[user]
  name = lgick
  email = lgick@yandex.ru
[merge]
  tool = vimdiff
[color]
  ui = true
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --all
  type = cat-file -t
  dump = cat-file -p
[core]
  editor = vim
[push]
  default = matching
