# Blocklist files/folders in same directory as the .gitignore file
/*

# Includelist some files
!.gitignore
!.gitignore_global
!.gitconfig
!.vimrc
!.prettierrc.mjs
!.zshrc
!.plist/
!.github/

!.config/
.config/*
!.config/nvim/
!.config/.stylua.toml

!.claude/
.claude/*
!.claude/keybindings.json
!.claude/statusline-command.sh
