# Blocklist files/folders in same directory as the .gitignore file
/*

# Includelist some files
!.gitignore
!.gitignore_global
!.gitconfig
!.vimrc
!.zshrc
!.plist/

!.config/
.config/*
!.config/nvim/
